.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sortButtons {
    display: flex;
    justify-content: space-around;
}

.dashboard {
    background-color: brown;
    width: 70%;
    color: white;
    min-height: 800px;
    border-radius: 50px;
    padding: 1.5rem;
}