.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.points {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.pointsContainer {
    max-width: 50px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.points button {
    background-color: transparent;
    max-width: 40px;
    border-radius: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}

.points p {
    max-width: 40px;
}

.points button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.points button:active {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    background-color: none;
}

.points button:disabled {
    background-color: rgb(236, 126, 0);
}

.points img {
    height: 40px;
    filter: invert(100%);
    width: 40px;
    padding: 0;
    margin: 0;
}

.points img:active {
    filter: none;
}

p {
    font-size: 1rem;
    margin: none;
    padding: none;
}