.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.post {
    background-color: rgb(65, 65, 65);
    display: flex;
    margin: 0rem 0.5rem;
    padding: 1rem;
    border-top: 1px solid rgb(111, 0, 190);
    border-bottom: 1px solid rgb(111, 0, 190);
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0px 0.5rem;
}

.thumbnail .imgContainer {
    width: 100%;
    height: auto;
}

.thumbnail .imgContainer img {
    width: 100%;
}

.thumbnail .imgContainer #icon {
    filter: invert(100%);
}


.details {
    width: 85%;
}

.section {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    color: white;
    text-decoration: none;
}

.points {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.pointsContainer {
    min-width: 5%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.points button {
    background-color: transparent;
    max-width: 40px;
    border-radius: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}

.points p {
    max-width: 40px;
}

.points button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.points button:active {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    background-color: none;
}

.points button:disabled {
    background-color: rgb(236, 126, 0);
}

.points img {
    height: 40px;
    filter: invert(100%);
    width: 40px;
    padding: 0;
    margin: 0;
}

.points img:active {
    filter: none;
}

h1 {
    font-size: 1.4rem;
}

h2, p {
    font-size: 1rem;
    margin: none;
    padding: none;
}

h3 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding-left: 0.4rem;
}

.bar img {
    height: 25px;
    filter: invert(100%);
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.commentsSection {
    display: flex;
}