.container {
    margin: 0rem 0.5rem;
    padding: 1rem 0.25rem;
    border-top: 1px solid rgb(111, 0, 190);
    border-bottom: 1px solid rgb(111, 0, 190);
    background-color: rgb(65, 65, 65);
    display: block;
}

.post {
    display: flex;

}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 80px;
    padding: 2%;
}

.imgContainer {
    width: 100%;
    height: auto;
}

.imgContainer img {
    width: 100%;
}

.imgContainer #icon {
    filter: invert(100%);
}


.details {
    width: 85%;
}

.section {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2,
p {
    font-size: 1rem;
    margin: none;
    padding: none;
}

h4 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding-left: 0.4rem;
}

.iconContainer {
    width: 25px;
    filter: invert(100%);
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.commentsSection {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 900px) {

    h1 {
        font-size: 1rem;
    }

    h2,
    p {
        font-size: 0.7rem;
    }

    h4 {
        font-size: 0.7rem;
        padding-left: 0.4rem;
    }


    .thumbnail {
        width: 10%;
        min-width: 50px;
    }

    .iconContainer {
        width: 15px;
    }
}